/* 在 App.vue 或 global.css 中添加 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main-screen {
    padding: 0px 0px;
    display: flex;
    height: 100vh;
    background-color: #121212;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
